


<!--继承base.html的基础模板-->
{% extends "back/base.html" %}

<!--新增的样式-->
{% block style %}
{% endblock %}

<!--主要内容-->
{% block body %}
<div class="container-fluid">
    <!-- 修改密码 -->
    <div class="body">
        <div class="repass">
            <form action="http://localhost:3000/back/user/api/reset" method="post" class="form-horizontal col-md-offset-2">
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">原密码</label>
                    <div class="col-md-4">
                        <input id="old_pwd" name="old_pwd" type="text" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">新密码</label>
                    <div class="col-md-4">
                        <input id="new_pwd" name="new_pwd" type="password" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">确认密码</label>
                    <div class="col-md-4">
                        <input id="commit_pwd" name="commit_pwd" type="text" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7">
                        <input type="button" class="btn btn-success btn-danger  pull-right update-btn" value="修 改">
                        <input type="button" class="btn btn-success btn-warning pull-right back-btn" value="返 回" style="margin-right: 10px;">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script src="./js/md5.js"></script>

<script type="text/javascript">

    const S_KEY = 'ItLike.Com';

    $(function () {

        $('.back-btn').on('click',function () {

            window.history.go(-1);
        });




        $('.update-btn').on('click',function () {

            let token = JSON.parse(localStorage.getItem('result')).token;
            const old_pwd = md5($('#old_pwd').val() + S_KEY);
            const new_pwd = md5($('#new_pwd').val() + S_KEY);
            const commit_pwd = $('#commit_pwd').val();
            if (token){

                const $form = $('form');

                if ($('#new_pwd').val() !== commit_pwd){
                    alert('新密码和确认密码不一致!');
                    return;
                }


                $.ajax({
                    url:$form.attr('action'),
                    type:$form.attr('method'),
                    data:`token=${token}&old_pwd=${old_pwd}&new_pwd=${new_pwd}`,
                    dataType:'json',
                    success:function (data) {
                        if (data.status === 200){
                            alert('密码修改成功,请重新登录!');
                            window.location.href = '/back/login';
                        }else {
                            alert(data.result);
                        }
                    }
                });


            }else {
                localStorage.removeItem('result');
                window.location.href = '/back/login';
            }



            });
    });

</script>

{% endblock %}



