
<!--继承base.html的基础模板-->
{% extends "back/base.html" %}

<!--新增的样式-->
{% block style %}
{% endblock %}

<!--主要内容-->
{% block body %}
<div class="container-fluid">
    <!-- 客户信息 -->
    <div class="body user-profile">
        <!-- 面包屑 -->
        <ol class="breadcrumb">
            <li><a href="javascript:;">用户管理</a></li>
            <li class="active">用户信息</li>
        </ol>
        <div class="profile">
            <div class="pull-left">
                <img id="icon_url" src="./uploads/avatar.png" class="img-circle pull-left" alt="">
                <span id="real_name" class="name">撩课学院</span>
                <span id="intro_self">喜欢IT, 就上撩课！</span>
            </div>
            <ul class="pull-right list-inline">
                <li>
                    <span>积分</span>
                    <a href="javascript:;" id="points">120</a>
                </li>
                <li>
                    <span>等级</span>
                    <a href="javascript:;" id="rank">10</a>
                </li>
                <li>
                    <span>金币</span>
                    <a href="javascript:;" id="gold">10000</a>
                </li>
            </ul>
        </div>
        <div class="courses">
            <ul class="navs list-unstyled">
                <li>
                    <a href="javascript:;" class="active">全部</a>
                </li>
                <li>
                    <a href="javascript:;">在学</a>
                </li>
                <li>
                    <a href="javascript:;">完成</a>
                </li>
            </ul>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_1.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_2.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_3.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_4.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_1.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_2.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_3.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./uploads/course_4.png" alt="">
                    <span class="percent">100%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">撩课大前端—Vue项目实战—撩多多商城</a>
                    <p>2019-10-26学习至 <span>L1 第一章 学前准备</span></p>
                </div>
            </div>
        </div>
        <!-- 分页 -->
        <ul class="pagination pull-right">
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}

<script type="text/javascript">
    $(function () {

        let token = JSON.parse(sessionStorage.getItem('result')).token;
        if (token){

            $.ajax({
                url:'http://localhost:3000/back/user/api/u_msg/' + token,
                type:'get',
                dataType:'json',
                success:function (data) {

//                    alert(JSON.stringify(data));
                    if (data.status === 200){

                        let src = '';
                        if (data.result.icon_url){
                            src = '/uploads/' + data.result.icon_url;
                        }else {
                            src = './uploads/avatar.png';
                        }
                        $('#icon_url').attr('src',src);
                        $('#real_name').text(data.result.real_name);
                        $('#intro_self').text(data.result.intro_self);
                        $('#points').text(data.result.points);
                        $('#rank').text(data.result.rank);
                        $('#gold').text(data.result.gold);

                    }else {
                        alert('获取失败');
                    }
                }
            });
        }else {
            sessionStorage.removeItem('result');
            window.location.href = '/back/login';
        }

    });
</script>
{% endblock %}


